/* Приховатий читабельний текст { 
color: rgba(0, 0, 0, 0); 
position: absolute; 
width: 1px; 
height: 1px; 
margin: -1px; 
border: 0; 
padding: 0; 
white-space: nowrap;
clip-path: inset(100%); 
clip: rect(0 0 0 0); 
overflow: hidden;
} 

font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;


#000000 Чорний для Веб
#212121 Чорний основний;
#2196F3 синій ацент

*/
