:root {
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --main-white-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --third-bg-color: #f5f5f5;
  --accent-color: #2196f3;
  --logo-text-color: #000000;
}

body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background-color: var(--main-white-color);
}
/* Header logo Styles */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--logo-text-color);
  text-decoration: none;
}

.web {
  color: var(--accent-color);
}

/* Global styles */
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* Header styles */

.site-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.site-nav .current {
  color: var(--accent-color);
}

.site-nav .contact {
  color: var(--secondary-text-color);
}

/* Hero Styles */

.hero {
  background-color: var(--secondary-bg-color);
}

.hero-title {
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-white-color);
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--main-white-color);
  background-color: var(--accent-color);
  border: 0px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

/* Features styles */

.hidden-title {
  color: rgba(0, 0, 0, 0);
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

/* job section  &  team section title style */
.section-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* Our team section */
.team-section {
  background-color: var(--third-bg-color);
}

.member-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.member-position {
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-text-color);
}

/* Footer Styles */
.page-footer {
  background-color: var(--secondary-bg-color);
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--main-white-color);
}

.footer-address {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
}

.footer-address .contact {
  color: rgba(255, 255, 255, 0.6);
}

.footer-address .map {
  color: var(--main-white-color);
}

.contact:hover,
.contact:focus,
.map:hover,
.map:focus {
  color: var(--accent-color);
}

/* Portfolio Styles */

.filter-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-text-color);
  background-color: #f5f4fa;
  cursor: pointer;
  border-radius: 4px;
  border: 0;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--main-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Тимчасова конструкція */
.current-filter {
  color: var(--main-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-item-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}

.portfolio-item-type {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-text-color);
}
